<footer class="footer">
  <div class="container footer-content">
    <div class="footer-brand">
      <h2 class="brand-title"><span class="text-white">RealMy</span><span class="text-primary">Fit</span></h2>
      <p class="brand-text">Transformando vidas y forjando la grandeza a través de la disciplina, acompañados por la
        tecnología más avanzada en entrenamiento.</p>
    </div>

    <div class="footer-links">
      <h3>Explorar</h3>
      <ul>
        <li><a routerLink="/">Instalaciones</a></li>
        <li><a routerLink="/maquinas">Máquinas</a></li>
        <li><a routerLink="/entrenadores">Staff</a></li>
        <li><a routerLink="/membresias">Planes</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h3>Soporte</h3>
      <ul>
        <li>contacto&#64;realmyfit.com</li>
        <li>+57 321-769-0981</li>
        <li>Centro de Ayuda</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 RealMyFit. Todos los derechos reservados.</p>
  </div>
</footer>